  .carousel-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12rem;
    margin: 5rem 0;
  }
  
  .info-box {
    background: #CB786Ca6;
    width: 600px;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: white;
    box-shadow: 5px 10px 18px #888888;
    padding: 2rem;
  }
  
  .heading, .description {
    background-color: transparent;
  }
  
  .heading {
    text-shadow: 2px 2px 2px #CB786C;
  }

  @media only screen and (max-width: 1500px) {
    .info-box {
      width: 500px;
    }
    .heading {
      font-size: 1.75rem;
    }
    .description {
      font-size: 0.85rem;
    }
  }

  @media only screen and (max-width: 1400px) {
    .info-box {
      width: 450px;
    }
    .heading {
      font-size: 1.75rem;
    }
    .description {
      font-size: 0.85rem;
    }
  }

  @media only screen and (max-width: 1200px) {
    .carousel-section {
      gap: 6rem;
    }
    .info-box {
      width: 400px;
    }
    .heading {
      font-size: 1.5rem;
    }
    .description {
      font-size: 0.8rem;
    }
  }
  @media only screen and (max-width: 1100px) {
    .info-box {
      width: 350px;
      height: 275px;
    }
  }

  @media only screen and (max-width: 1000px) {
    .info-box {
      width: 350px;
      height: 275px;
    }

    .carousel-section {
      flex-direction: column;
    }
  }

  @media only screen and (max-width: 600px) {
    .info-box {
      width: 325px;
      height: 300px;
    }

    .carousel-section {
      flex-direction: column;
    }

    .heading {
      font-size: 1.5rem;
    }
  }