.content-wrapper-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-heading, .preview {
    margin: 1rem 0;
    text-align: center;
}

.content-wrapper-element ul li {
    margin: 12px 0;
}

.preview {
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px 0px;
}

.tagline {
    margin: 1.5rem 0;
    text-align: center;
}

.buttons-wrapper {
    display: flex;
    flex-direction: column;
}

.repo {
    text-decoration: underline;
}

.hint {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul {
    list-style: none;
  }
  
  ul li:before {
    content: '✓';
    margin-right: 10px;
  }

@media only screen and (max-width: 1400px) {
    .preview {
        width: 50%;
    }
}

@media only screen and (max-width: 1100px) {
    .preview {
        width: 60%;
    }
}

@media only screen and (max-width: 800px) {
    .preview {
        width: 65%;
    }
    .content-heading {
        font-size: 1.8rem;
    }
    .content-wrapper-element ul {
        width: 70%;
    }
}

@media only screen and (max-width: 600px) {
    .preview {
        width: 85%;
    }
    .content-heading {
        width: 80%;
    }
    .tagline {
        width: 60%;
    }
}