.Footer {
    width: 100%;
    background-color: var(--light-brown);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}

.Footer p {
    background-color: var(--light-brown);
    color: white;
}

.Footer p a {
    background-color: var(--light-brown);
    color: white;
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .Footer {
        font-size: 0.85rem;
    }
}