.Header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #CB786C;
    min-height: 10vh;
    margin: 1rem 0;
    gap: 2rem;
}

@media only screen and (max-width: 600px) {
    .logo {
        width: 200px;
    }
}